<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.virugan.mapper.ac.hxsysAcKjkemuMapper">
  <resultMap id="basicResultMap" type="com.virugan.tables.ac.hxsysAcKjkemu">
    <id column="kemuhaoo" jdbcType="VARCHAR" property="kemuhaoo" />
    <id column="farendma" jdbcType="VARCHAR" property="farendma" />
    <result column="kemumnch" jdbcType="VARCHAR" property="kemumnch" />
    <result column="shjikemu" jdbcType="VARCHAR" property="shjikemu" />
    <result column="kemuleib" jdbcType="VARCHAR" property="kemuleib" />
    <result column="kemujibi" jdbcType="DECIMAL" property="kemujibi" />
    <result column="mocekmbz" jdbcType="VARCHAR" property="mocekmbz" />
    <result column="yuexingz" jdbcType="VARCHAR" property="yuexingz" />
    <result column="bnbwbioz" jdbcType="VARCHAR" property="bnbwbioz" />
    <result column="shijchuo" jdbcType="DECIMAL" property="shijchuo" />
  </resultMap>
  <sql id="baseColumnList">
    kemuhaoo, farendma, kemumnch, shjikemu, kemuleib, kemujibi, mocekmbz, yuexingz, bnbwbioz, 
    shijchuo
  </sql>
  <select id="mySelect" parameterType="com.virugan.tables.ac.hxsysAcKjkemu" resultMap="basicResultMap">
    select
    <include refid="baseColumnList" />
    from hxsys_ac_kjkemu
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="kemuhaoo!=null">
        AND  kemuhaoo=#{kemuhaoo,jdbcType=VARCHAR}
      </if>
      <if test="farendma!=null">
        AND  farendma=#{farendma,jdbcType=VARCHAR}
      </if>
      <if test="kemumnch!=null">
        AND  kemumnch=#{kemumnch,jdbcType=VARCHAR}
      </if>
      <if test="shjikemu!=null">
        AND  shjikemu=#{shjikemu,jdbcType=VARCHAR}
      </if>
      <if test="kemuleib!=null">
        AND  kemuleib=#{kemuleib,jdbcType=VARCHAR}
      </if>
      <if test="kemujibi!=null">
        AND  kemujibi=#{kemujibi,jdbcType=DECIMAL}
      </if>
      <if test="mocekmbz!=null">
        AND  mocekmbz=#{mocekmbz,jdbcType=VARCHAR}
      </if>
      <if test="yuexingz!=null">
        AND  yuexingz=#{yuexingz,jdbcType=VARCHAR}
      </if>
      <if test="bnbwbioz!=null">
        AND  bnbwbioz=#{bnbwbioz,jdbcType=VARCHAR}
      </if>
      <if test="shijchuo!=null">
        AND  shijchuo=#{shijchuo,jdbcType=DECIMAL}
      </if>
    </trim>
  </select>
  <delete id="myDelete" parameterType="com.virugan.tables.ac.hxsysAcKjkemu">
    delete from hxsys_ac_kjkemu
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="kemuhaoo!=null">
        AND  kemuhaoo=#{kemuhaoo,jdbcType=VARCHAR}
      </if>
      <if test="farendma!=null">
        AND  farendma=#{farendma,jdbcType=VARCHAR}
      </if>
      <if test="kemumnch!=null">
        AND  kemumnch=#{kemumnch,jdbcType=VARCHAR}
      </if>
      <if test="shjikemu!=null">
        AND  shjikemu=#{shjikemu,jdbcType=VARCHAR}
      </if>
      <if test="kemuleib!=null">
        AND  kemuleib=#{kemuleib,jdbcType=VARCHAR}
      </if>
      <if test="kemujibi!=null">
        AND  kemujibi=#{kemujibi,jdbcType=DECIMAL}
      </if>
      <if test="mocekmbz!=null">
        AND  mocekmbz=#{mocekmbz,jdbcType=VARCHAR}
      </if>
      <if test="yuexingz!=null">
        AND  yuexingz=#{yuexingz,jdbcType=VARCHAR}
      </if>
      <if test="bnbwbioz!=null">
        AND  bnbwbioz=#{bnbwbioz,jdbcType=VARCHAR}
      </if>
      <if test="shijchuo!=null">
        AND  shijchuo=#{shijchuo,jdbcType=DECIMAL}
      </if>
    </trim>
  </delete>
  <insert id="myInsert" parameterType="com.virugan.tables.ac.hxsysAcKjkemu">
    insert into hxsys_ac_kjkemu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kemuhaoo != null">
        kemuhaoo,
      </if>
      <if test="farendma != null">
        farendma,
      </if>
      <if test="kemumnch != null">
        kemumnch,
      </if>
      <if test="shjikemu != null">
        shjikemu,
      </if>
      <if test="kemuleib != null">
        kemuleib,
      </if>
      <if test="kemujibi != null">
        kemujibi,
      </if>
      <if test="mocekmbz != null">
        mocekmbz,
      </if>
      <if test="yuexingz != null">
        yuexingz,
      </if>
      <if test="bnbwbioz != null">
        bnbwbioz,
      </if>
      <if test="shijchuo != null">
        shijchuo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kemuhaoo != null">
        #{kemuhaoo,jdbcType=VARCHAR},
      </if>
      <if test="farendma != null">
        #{farendma,jdbcType=VARCHAR},
      </if>
      <if test="kemumnch != null">
        #{kemumnch,jdbcType=VARCHAR},
      </if>
      <if test="shjikemu != null">
        #{shjikemu,jdbcType=VARCHAR},
      </if>
      <if test="kemuleib != null">
        #{kemuleib,jdbcType=VARCHAR},
      </if>
      <if test="kemujibi != null">
        #{kemujibi,jdbcType=DECIMAL},
      </if>
      <if test="mocekmbz != null">
        #{mocekmbz,jdbcType=VARCHAR},
      </if>
      <if test="yuexingz != null">
        #{yuexingz,jdbcType=VARCHAR},
      </if>
      <if test="bnbwbioz != null">
        #{bnbwbioz,jdbcType=VARCHAR},
      </if>
      <if test="shijchuo != null">
        #{shijchuo,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="myCount" parameterType="com.virugan.tables.ac.hxsysAcKjkemu" resultType="int">
    select count(*) from hxsys_ac_kjkemu
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="kemuhaoo!=null">
        AND  kemuhaoo=#{kemuhaoo,jdbcType=VARCHAR}
      </if>
      <if test="farendma!=null">
        AND  farendma=#{farendma,jdbcType=VARCHAR}
      </if>
      <if test="kemumnch!=null">
        AND  kemumnch=#{kemumnch,jdbcType=VARCHAR}
      </if>
      <if test="shjikemu!=null">
        AND  shjikemu=#{shjikemu,jdbcType=VARCHAR}
      </if>
      <if test="kemuleib!=null">
        AND  kemuleib=#{kemuleib,jdbcType=VARCHAR}
      </if>
      <if test="kemujibi!=null">
        AND  kemujibi=#{kemujibi,jdbcType=DECIMAL}
      </if>
      <if test="mocekmbz!=null">
        AND  mocekmbz=#{mocekmbz,jdbcType=VARCHAR}
      </if>
      <if test="yuexingz!=null">
        AND  yuexingz=#{yuexingz,jdbcType=VARCHAR}
      </if>
      <if test="bnbwbioz!=null">
        AND  bnbwbioz=#{bnbwbioz,jdbcType=VARCHAR}
      </if>
      <if test="shijchuo!=null">
        AND  shijchuo=#{shijchuo,jdbcType=DECIMAL}
      </if>
    </trim>
  </select>
  <update id="myUpdateByExmp">
    update hxsys_ac_kjkemu
    <set>
      <if test="record.kemuhaoo != null">
        kemuhaoo = #{record.kemuhaoo,jdbcType=VARCHAR},
      </if>
      <if test="record.farendma != null">
        farendma = #{record.farendma,jdbcType=VARCHAR},
      </if>
      <if test="record.kemumnch != null">
        kemumnch = #{record.kemumnch,jdbcType=VARCHAR},
      </if>
      <if test="record.shjikemu != null">
        shjikemu = #{record.shjikemu,jdbcType=VARCHAR},
      </if>
      <if test="record.kemuleib != null">
        kemuleib = #{record.kemuleib,jdbcType=VARCHAR},
      </if>
      <if test="record.kemujibi != null">
        kemujibi = #{record.kemujibi,jdbcType=DECIMAL},
      </if>
      <if test="record.mocekmbz != null">
        mocekmbz = #{record.mocekmbz,jdbcType=VARCHAR},
      </if>
      <if test="record.yuexingz != null">
        yuexingz = #{record.yuexingz,jdbcType=VARCHAR},
      </if>
      <if test="record.bnbwbioz != null">
        bnbwbioz = #{record.bnbwbioz,jdbcType=VARCHAR},
      </if>
      <if test="record.shijchuo != null">
        shijchuo = #{record.shijchuo,jdbcType=DECIMAL},
      </if>
    </set>
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="updkey.kemuhaoo!=null">
        AND  kemuhaoo=#{updkey.kemuhaoo,jdbcType=VARCHAR}
      </if>
      <if test="updkey.farendma!=null">
        AND  farendma=#{updkey.farendma,jdbcType=VARCHAR}
      </if>
      <if test="updkey.kemumnch!=null">
        AND  kemumnch=#{updkey.kemumnch,jdbcType=VARCHAR}
      </if>
      <if test="updkey.shjikemu!=null">
        AND  shjikemu=#{updkey.shjikemu,jdbcType=VARCHAR}
      </if>
      <if test="updkey.kemuleib!=null">
        AND  kemuleib=#{updkey.kemuleib,jdbcType=VARCHAR}
      </if>
      <if test="updkey.kemujibi!=null">
        AND  kemujibi=#{updkey.kemujibi,jdbcType=DECIMAL}
      </if>
      <if test="updkey.mocekmbz!=null">
        AND  mocekmbz=#{updkey.mocekmbz,jdbcType=VARCHAR}
      </if>
      <if test="updkey.yuexingz!=null">
        AND  yuexingz=#{updkey.yuexingz,jdbcType=VARCHAR}
      </if>
      <if test="updkey.bnbwbioz!=null">
        AND  bnbwbioz=#{updkey.bnbwbioz,jdbcType=VARCHAR}
      </if>
      <if test="updkey.shijchuo!=null">
        AND  shijchuo=#{updkey.shijchuo,jdbcType=DECIMAL}
      </if>
    </trim>
  </update>
  <update id="myUpdateOne" parameterType="com.virugan.tables.ac.hxsysAcKjkemu">
    update hxsys_ac_kjkemu
    <set>
      <if test="kemumnch != null">
        kemumnch = #{kemumnch,jdbcType=VARCHAR},
      </if>
      <if test="shjikemu != null">
        shjikemu = #{shjikemu,jdbcType=VARCHAR},
      </if>
      <if test="kemuleib != null">
        kemuleib = #{kemuleib,jdbcType=VARCHAR},
      </if>
      <if test="kemujibi != null">
        kemujibi = #{kemujibi,jdbcType=DECIMAL},
      </if>
      <if test="mocekmbz != null">
        mocekmbz = #{mocekmbz,jdbcType=VARCHAR},
      </if>
      <if test="yuexingz != null">
        yuexingz = #{yuexingz,jdbcType=VARCHAR},
      </if>
      <if test="bnbwbioz != null">
        bnbwbioz = #{bnbwbioz,jdbcType=VARCHAR},
      </if>
      <if test="shijchuo != null">
        shijchuo = #{shijchuo,jdbcType=DECIMAL},
      </if>
    </set>
    where kemuhaoo = #{kemuhaoo,jdbcType=VARCHAR}
      and farendma = #{farendma,jdbcType=VARCHAR}
  </update>
  <select id="mySelectOne" parameterType="com.virugan.tables.ac.hxsysAcKjkemu" resultMap="basicResultMap">
    select 
    <include refid="baseColumnList" />
    from hxsys_ac_kjkemu
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="kemuhaoo!=null">
        AND  kemuhaoo=#{kemuhaoo,jdbcType=VARCHAR}
      </if>
      <if test="farendma!=null">
        AND  farendma=#{farendma,jdbcType=VARCHAR}
      </if>
      <if test="kemumnch!=null">
        AND  kemumnch=#{kemumnch,jdbcType=VARCHAR}
      </if>
      <if test="shjikemu!=null">
        AND  shjikemu=#{shjikemu,jdbcType=VARCHAR}
      </if>
      <if test="kemuleib!=null">
        AND  kemuleib=#{kemuleib,jdbcType=VARCHAR}
      </if>
      <if test="kemujibi!=null">
        AND  kemujibi=#{kemujibi,jdbcType=DECIMAL}
      </if>
      <if test="mocekmbz!=null">
        AND  mocekmbz=#{mocekmbz,jdbcType=VARCHAR}
      </if>
      <if test="yuexingz!=null">
        AND  yuexingz=#{yuexingz,jdbcType=VARCHAR}
      </if>
      <if test="bnbwbioz!=null">
        AND  bnbwbioz=#{bnbwbioz,jdbcType=VARCHAR}
      </if>
      <if test="shijchuo!=null">
        AND  shijchuo=#{shijchuo,jdbcType=DECIMAL}
      </if>
    </trim>
  </select>
  <select id="mySelectPage" parameterType="com.virugan.tables.ac.hxsysAcKjkemu" resultMap="basicResultMap">
    select 
    <include refid="baseColumnList" />
    from hxsys_ac_kjkemu
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="record.kemuhaoo!=null">
        AND  kemuhaoo=#{record.kemuhaoo,jdbcType=VARCHAR}
      </if>
      <if test="record.farendma!=null">
        AND  farendma=#{record.farendma,jdbcType=VARCHAR}
      </if>
      <if test="record.kemumnch!=null">
        AND  kemumnch=#{record.kemumnch,jdbcType=VARCHAR}
      </if>
      <if test="record.shjikemu!=null">
        AND  shjikemu=#{record.shjikemu,jdbcType=VARCHAR}
      </if>
      <if test="record.kemuleib!=null">
        AND  kemuleib=#{record.kemuleib,jdbcType=VARCHAR}
      </if>
      <if test="record.kemujibi!=null">
        AND  kemujibi=#{record.kemujibi,jdbcType=DECIMAL}
      </if>
      <if test="record.mocekmbz!=null">
        AND  mocekmbz=#{record.mocekmbz,jdbcType=VARCHAR}
      </if>
      <if test="record.yuexingz!=null">
        AND  yuexingz=#{record.yuexingz,jdbcType=VARCHAR}
      </if>
      <if test="record.bnbwbioz!=null">
        AND  bnbwbioz=#{record.bnbwbioz,jdbcType=VARCHAR}
      </if>
      <if test="record.shijchuo!=null">
        AND  shijchuo=#{record.shijchuo,jdbcType=DECIMAL}
      </if>
    </trim>
  </select>
</mapper>